{{- if ne .Site.Params.footer.enable false -}}
    <footer class="footer">
        <div class="footer-container">
            {{- with .Site.Params.footer.custom -}}
                <div class="footer-line">
                    {{- safeHTML . -}}
                </div>
            {{- end -}}

            <div class="footer-line" itemscope itemtype="http://schema.org/CreativeWork">
                <i class="far fa-copyright fa-fw" aria-hidden="true"></i>
                {{- $since := .Site.Params.footer.since | default now.Year -}}
                {{- with $since -}}
                    <span itemprop="copyrightYear">
                        {{- if lt . now.Year }}{{ . }} - {{ end }}{{ now.Year -}}
                    </span>
                {{- end -}}
                {{- if ne .Site.Params.footer.author false -}}
                    <span class="author" itemprop="copyrightHolder">
                        &nbsp;<a href="{{ $.Site.Params.Author.link | default .Site.Home.RelPermalink }}" target="_blank">{{ .Site.Params.Author.name }}</a>
                    </span>
                {{- end -}}
            </div>
        </div>
    </footer>
{{- end -}}
