{{- define "title" -}}
    {{- .Title }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">
        <h2 class="single-title animate__animated animate__pulse animate__faster">
            {{- .Title -}}
        </h2>
        {{- $pages := .RegularPages.ByDate.Reverse -}}
        {{- $groups := $pages.GroupByDate "2006" -}}
        {{- range $groups -}}
            <h3 class="group-title">{{ .Key }}</h3>
            {{- range .Pages -}}
                <article class="archive-item">
                    <a href="{{ .RelPermalink }}" class="archive-item-link">
                        {{- .Title | emojify -}}
                    </a>
                </article>
            {{- end -}}
        {{- end -}}
    </div>
{{- end -}}
